$grey: #808080;
$blue: #0026ff;
$red: #ff0000;
$font: 14px;

.praticoTres {
	color: $grey;
}
.praticoTresLista__item {
    font: {
        size: $font;
    }
}
.praticoTresLista__item--quantidade {
    color: $red;
    font: {
        size: $font + 2;
        weight: bold;
    }
}